:root {
  --bottom-menu-height: 150px;
  --menus-border-width: 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  scroll-behavior: none;
  overscroll-behavior: none;

  background: black;
  font-family: monospace;
}

#root {
  position: absolute;

  left: 0;
  top: 0;
  
  width: 100vw;
  height: 100vh;
}

/* MENUS */
.menu {
  position: absolute;
  
  background: rgb(21, 21, 21);
  border: var(--menus-border-width) solid rgb(43, 43, 43);
}


#top-left-menu {
  .menu;

  left: 0;
  top: 0;
  
  width: 300px;
  padding: 8px 9px 4px 9px;

  border-top: none;
  border-left: none;

  display: flex;
  flex-direction: column;


  & > div {
    flex: 1;
    margin: 4px 0 2px 0;

    color: rgb(200, 200, 200);
    font-size: 12px;

    display: flex;
    flex-direction: column;
    justify-items: center;

    & > .bar-container-shadow {
      flex: 1;

      height: 7px;

      & > .bar-container {
        width: 100%;
        height: 100%;
  
        border-radius: 1px;
        background-color: rgb(43, 43, 43);
  
        overflow: hidden;

        & > .bar {
          width: 100%;
          height: 100%;
    
          will-change: transform;
    
          border-radius: 1px;
        }
      }
    }

    & .bar-indicators {
      margin-top: 2px;
      font-size: 11px;
      font-weight: 600;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  & > div:nth-of-type(1) {
    & .bar-indicators {
      color: #F79F1F;
    }

    & .bar {
      background-color: #F79F1F;
      box-shadow: 0 0 2px 0 #F79F1F;
    }
  }

  & > div:nth-of-type(2) {
    & .bar-indicators {
      color: #009432;
    }

    & .bar {
      background-color: #009432;
      box-shadow: 0 0 2px 0 #009432;
    }
  }
}

#top-right-menu {
  .menu;

  right: 0;
  top: 0;

  width: 200px;
  height: 200px;

  border-top: none;
  border-right: none;
}

#bottom-menu {
  .menu;

  left: 0;
  bottom: 0px;

  height: var(--bottom-menu-height);
  width: 100%;

  border-bottom: none;
  border-left: none;
  border-right: none;
}
