:root {
  --bottom-menu-height: 150px;
  --menus-border-width: 2px;
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  scroll-behavior: none;
  overscroll-behavior: none;

  background: black;
  font-family: monospace;
}

#root {
  position: absolute;

  left: 0;
  top: 0;
  
  width: 100vw;
  height: 100vh;
}

/* MENUS */
.menu {
  position: absolute;
  
  background: rgb(21, 21, 21);
  border: var(--menus-border-width) solid rgb(43, 43, 43);
}

@import "./styles/top-left-menu.less";
@import "./styles/top-right-menu.less";
@import "./styles/bottom-menu.less";
